/******************************************************/
@import url(http://fonts.googleapis.com/css?family=Frijole&effect=3d);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);

/*Estilo general de la pagina*/
body {
  background: transparent url(dark.png) repeat;
  font: normal .80em 'Raleway', arial, sans-serif;
  color: #FFF;
  margin: 0;
}

section{
	width: 70%;
	margin:80px auto 20px auto; 
	height: 1300px;
	border: 1px solid white;
	border-radius: 20px;
	box-shadow: 0 0 15px gray;
	box-shadow: inset 0 0 5px gray;
	text-align: center;
}

span {
	font-family: 'Frijole', cursive;
	font-size: 40px;
	margin-left: 20px;
}

/*Estilo de las columnas*/
.columna{
	float: left;
	width: 33%;
	margin-top: 30px;
}

/*Estilo de los parrafos*/
p{
	text-align: justify;
	margin: 0 10% 0 10%;
}

/*Estilo de la imagen*/
#chuck {
	width: 90%;
	height: 35%;
}


/*Estilo de los diferentes tipos de barras en las paginas*/
.barra {
	position: absolute; /*El div será ubicado con relación al documento*/
	left:0px; /*A la derecha deje un espacio de 0px*/
	right:0px; /*A la izquierda deje un espacio de 0px*/
	top:0px; /*Abajo deje un espacio de 0px*/
	height:60px; /*alto del div*/
	background-color:  gray;
	color: white;
}

/*Estilo del boton arriba*/

#Arriba {
position: fixed;
bottom: 30px; /* Distancia desde abajo */
right: 30px; /* Distancia desde la derecha */
/*BOTON*/
width: 60px; /* Ancho del botón */
height: 60px; /* Alto del botón */
display: block;
background: url(http://lh5.googleusercontent.com/-luDGEoQ_WZE/T1Ak-gta5MI/AAAAAAAACPI/ojfEGiaNmGw/s60/flecha-arriba.png) no-repeat center center;
}

#Arriba:hover{
	cursor: pointer;
}


/*Estilo del boton arriba y abajo*/

#Arriba1{

position: fixed;
bottom: 100px; /* Distancia desde abajo */
right: 30px; /* Distancia desde la derecha */
/*BOTON*/
width: 60px; /* Ancho del botón */
height: 60px; /* Alto del botón */
display: block;
background: url(http://lh5.googleusercontent.com/-luDGEoQ_WZE/T1Ak-gta5MI/AAAAAAAACPI/ojfEGiaNmGw/s60/flecha-arriba.png) no-repeat center center;
}

#Arriba1:hover{
	cursor: pointer;
}


#Abajo {
-webkit-transform:rotate(180deg);
position: fixed;
bottom: 30px; /* Distancia desde abajo */
right: 30px; /* Distancia desde la derecha */
/*BOTON*/
width: 60px; /* Ancho del botón */
height: 60px; /* Alto del botón */
display: block;
background: url(http://lh5.googleusercontent.com/-luDGEoQ_WZE/T1Ak-gta5MI/AAAAAAAACPI/ojfEGiaNmGw/s60/flecha-arriba.png) no-repeat center center;
}

#Abajo:hover{
	cursor: pointer;
}