/******************************************************/
@import url(http://fonts.googleapis.com/css?family=Frijole&effect=3d);


/************************ Fuentes del Tuto ******************************/

@import url(http://fonts.googleapis.com/css?family=Raleway:600,800,900,300,200,400,100,500,700);

/************************ Fuentes del Tuto ******************************/

/*Estilo general de la pagina*/
body {
  background: transparent url(dark.png) repeat;
  color: #FFF;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

section{
	width: 70%;
	margin:80px auto 20px auto; 
	height: 1000px;
	border: 1px solid white;
	border-radius: 20px;
	box-shadow: 0 0 15px gray;
	box-shadow: inset 0 0 5px gray;
	text-align: center;
}

span {
	font-family: 'Frijole', cursive;
	font-size: 40px;
	margin-left: 20px;
}


/*Estilo de los parrafos*/
p{
	text-align: justify;
	margin: 10% 10% 0 10%;
	font-size: 16px;
}

.barra {
	position: absolute; /*El div será ubicado con relación al documento*/
	left:0px; /*A la derecha deje un espacio de 0px*/
	right:0px; /*A la izquierda deje un espacio de 0px*/
	top:0px; /*Abajo deje un espacio de 0px*/
	height:60px; /*alto del div*/
	background-color:  gray;
	color: white;
}

/*Estilo y tipos de fuente*/

#parrafo1{
	font-weight: 100;
}

#parrafo2{
	font-weight: 400;

}

#parrafo3{
	font-weight: 900;
	
}

